<div class="row">
    <div class="col-sm-8 mx-auto mt-4">
        <div class="card">
            <div class="card-body shadow">
                <h5 class="card-title">Detalhes do Desafio</h5>
                <p class="card-text"><strong>Nome:</strong> <small>{{ desafio.NomeDesafio }}</small></p>
                <p class="card-text"><strong>Descricao:</strong> {{ desafio.Descricao }}</p>
                <p class="card-text"><strong>Etapas:</strong> {{ desafio.Etapas }}</p>
                <p class="card-text"><strong>Data Início:</strong> {{ desafio.DataInicio }}</p>
                <p class="card-text"><strong>Data Final:</strong> {{ desafio.DataFinal }}</p>
                <p class="card-text"><strong>Tipo:</strong> {{ desafio.Tipo }}</p>
                <p class="card-text"><strong>Quantidade de Premiados:</strong> {{ desafio.QuantidadePremiados }}</p>
            </div>
        </div>
    </div>
</div>