<!-- Banner -->
<div class="row">
  <div class="col-md-12">
    <div class="advertisment-banner">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-sm-12">
          <div class="banner-heading">
            <h3>Você também pode ajudar o GRAACC participando dos nossos Desafios</h3>
            <h5>São diversas as formas de empresas contribuírem com o GRAACC e com o tratamento de crianças e adolescentes com câncer. Saiba quais desafios se encaixam com você, participe e ajude o GRAACC</h5>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-12">
          <div class="ill-img">
            <img src="assets/images/svg/undraw_01.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Area-->
<app-desafio-listagem></app-desafio-listagem>