<app-nav-menu></app-nav-menu>
<div class="full-width">
    <div id="content-wrapper">
        <div class="container-fluid pb-0">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- Sticky Footer -->
    <!-- <footer class="sticky-footer full-width">
        <!-- <div class="container my-auto">
            <div class="copyright text-center my-auto">

                <div class="footer-info">
                    <a href="#">About </a> |
                    <a href="#">Faq’s </a> |
                    <a href="#">Privacy</a> |
                    <a href="#"> Advertise</a> |
                    <a href="#">Term & Conditions </a> |
                    <a href="#">Sitemap </a>|
                    <a href="#">Tags </a>|
                    <a href="#">Blog</a>
                </div> -->
        <!-- <div class="copy-right">
                   GRAACOLIS
                </div> -->
        <!-- </div>
        </div> 
    </footer> -->
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="ti-arrow-up"></i>
</a>